{% extends "templates/base.html" %}
{% block menu %}
{% endblock %}
{% block content %}
<form action="/register" method="POST">
  <input type="hidden" name="__anti-forgery-token" value="{{csrf-token}}" />
  <div class="form-group col-lg-3">
    <label for="id">Username</label>
    {% if errors.id %}
      <div class="alert alert-danger">{{errors.id}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="id" name="id" type="text"
             value="{{data.id}}" />
    </p>
    <label for="email">Email</label>
    {% if errors.email %}
      <div class="alert alert-danger">{{errors.email}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="email" name="email" type="email"
             value="{{data.email}}" />
    </p>
    <label for="pass">Password</label>
    {% if errors.pass %}
      <div class="alert alert-danger">{{errors.pass}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="pass" name="pass" type="password" />
    </p>
    <label for="pass1">Retype password</label>
    {% if errors.pass1 %}
      <div class="alert alert-danger">{{errors.pass1}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="pass1" name="pass1" type="password" />
    </p>
    <input class="btn" type="submit" value="create account">
  </div>
</form>
{% endblock %}

