html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding-top: 40px;
}

.discs.table {
  width: 500px;
}

.disc--have {
  background-color: #eeffee;
}

.disc--have:hover {
  background-color: #ddffdd;
}

.disc--want {
  background-color: #ffffee;
}

.disc--want:hover {
  background-color: #ffffdd;
}

.disc--dont-want {
  background-color: #ffeeee;
}

.disc--dont-want:hover {
  background-color: #ffdddd;
}
