  <table class="discs table">
    <thead>
      <tr><th>State</th><th>Title</th><th>Artist</th></tr>
    </thead>
    <tbody>
      {% for disc in data.discs %}
        <tr class="disc--{{disc.state}}"><td>
            {% ifequal disc.state "have" %}
            I have it
            {% else %}
              {% ifequal disc.state "want" %}
              I want it
              {% else %}
              I don't want it
              {% endifequal %}
            {% endifequal %}
        </td>
        <td>{{disc.title}}</td>
        <td><a href="/artists/{{disc.artist_id}}">{{disc.artist_name}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
