{% extends "templates/base.html" %}
{% block content %}
  <h2>Add a disc to collection</h2>
  <form action="/discs/mass" method="POST">
    <input type="hidden" name="__anti-forgery-token" value="{{csrf-token}}" />
    <div class="form-group col-lg-3">
      <label for="discs">Discs to add</label>
      <p>Artist name, Album name</p>
      {% if errors.discs %}
        <div class="alert alert-danger">{{errors.discs}}</div>
      {% endif %}
      <p>
        <textarea class="form-control" id="discs" name="discs"
               tabindex="1" value="{{data.discs}}"></textarea>
      </p>
      <label for="state">State</label>
      {% if errors.state %}
        <div class="alert alert-danger">{{errors.state}}</div>
      {% endif %}
      <p>
        <select name="state" id="state">
          <option value="have">I have it</option>
          <option value="want">I want it</option>
          <option value="dont-want">I don't want it</option>
        </select>
      </p>
      <input class="btn" tabindex="4" type="submit" value="Add" />
    </div>
  </form>
{% endblock %}

